@{
	ViewData["Title"] = "О компании";
}

<h1 class="pb-2">@ViewData["Title"]</h1>
<div class="row">
	<div class="col-12 col-lg lh-lg">
		<p>
			Сегодня группа компаний «Семейный Риэлтор» включает в себя консалтинговую компанию по недвижимости в Санкт-Петербурге и центр международного бизнеса группы, который работает с зарубежными арендодателями. Помимо санкт-петербургских, в портфолио представлены объекты недвижимости более чем в 20 странах мира.
		</p>
		<p>
			Международный бизнес компании связан с полным спектром услуг: от исследования зарубежных рынков недвижимости до сопровождения сделок по аренде отпускных и жилых объектов, а прочные связи с иностранными партнерами позволяют сохранять стабильность в любых экономических условиях.
		</p>
	</div>
	<div class="col-12 col-lg">
		<div class="container border rounded bg-white p-4">
			<p class="lead"><i class="fa fa-phone"></i> +7 (812) 642-47-43, +7 (964) 342-47-43</p>
			<p>Ежедневно: с 9:00 до 22:00</p>
			<p><a href="mailto:info@family.real">info@family.real</a></p>
			<p>195220, город Санкт-Петербург, пр-кт Непокорённых, д. 49 литер а, помещ. 27н офис 414</p>
			<div id="map" data-latitude="59,994659" data-longitude="30,384742" data-street="Семейный Риэлтор"></div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/details.js" asp-append-version="true"></script>
}